<h1 mat-dialog-title>Sign In</h1>
<form class="app-form" mat-dialog-content [formGroup]="form">
    <div class="inputs-container">
        <div class="input-container">
            <p>Username</p>
            <input type="text" id="username" formControlName="username">
            <span class="error" *ngFor="let error of getErrors('username')">
                {{error}}
            </span>
        </div>
        <div class="input-container">
            <p>Password</p>
            <input type="password" id="password" formControlName="password">
            <span class="error" *ngFor="let error of getErrors('password')">
                {{error}}
            </span>
        </div>
    </div>
    <div class="main-button" (click)="proceed()">Proceed</div>
    <div class="links-container" (click)="toSignUp()">
        <span class="link">Need to sign up?</span>
    </div>
</form>
