* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Inconsolata, monospace;
    color: #404040;
}

body {
    /*//background: url("assets/body/pattern.svg") ;*/
    background: #dadae0;
}
