@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

$body-color: #dadae0;
$panel-color: #E5E5E9;
$panel-border-color: #7c7c7c;
$prim-color: #4357F2;
$link-color: #4357F2;
$text-color: #404040;

.default-shadow {
    -webkit-box-shadow: -12px 12px 38px -34px rgba(82, 85, 107, 1);
    -moz-box-shadow: -12px 12px 38px -34px rgba(82, 85, 107, 1);
    box-shadow: -12px 12px 38px -34px rgba(82, 85, 107, 1);
}

.panel {
    @extend .default-shadow;

    border-radius: 10px;
    background-color: $panel-color;
}

.drop-zone {
    cursor: pointer;

    border: $panel-border-color 2px dashed;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;

    user-select: none;

    &:hover, &.drag-over {
        background: rgba($prim-color, 0.05);
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
