@import "src/styles";

:host {
    display: flex;
    align-items: center;
    gap: 5px;

    padding-left: 5px;
    border-radius: 5px;

    .source-container {
        display: inline;
        flex-grow: 1;
    }
}
