@import "src/styles";

:host {
    @extend .panel;

    display: flex;
    flex-direction: column;

    padding: 20px;

    .user-info {
        flex-grow: 4;

        display: flex;
        flex-direction: column;

        gap: 10px;

        .profile-title {
            text-align: center;
            font-size: 1.4em;
            font-weight: bold;
        }

        .labeled-value-block {

            .label {
                font-weight: bold;
                display: block;
            }

            .value {

            }
        }

        .subscription-info {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title {
                text-align: center;
                font-weight: bold;
                font-size: 1.2em;
            }

            .features {

                list-style: none;

                .feature {
                    &:before {
                        content: '✓';
                    }
                }
            }
        }
    }

    hr {
        margin: 10px 0;
    }

    .about-app {
        text-align: center;
        font-size: 0.8em;

        .author-title {
            font-size: 1.2em;
            margin-bottom: 10px;
        }
    }
}
