<div class="queue">
    <div class="header">
        <span class="queue-status-container">
            <injection-status class="queue-status" [status]="queue.model.status"></injection-status>
        </span>
        <action-series [actions]="actions.list"></action-series>
    </div>
    <div class="body">
        <div class="empty-queue" *ngIf="model.injections.length === 0"

             fileUpload
             mode="multiple"
             allowedExtensions="docx"
             [browseOnClick]="false"
             (files)="createFromTemplates($event)"
             (click)="createInjection()"
        >
            <span>Drop your templates here</span>
            <span>or</span>
            <span>Press to create injection</span>
        </div>
        <div class="queue-element"
             *ngFor="let injection of queue.injections; let index = index"
             [draggable]="true"
             (dragstart)="onDragStart(index)"
             (dragenter)="onDragEnter(index)"
             (dragend)="onDragEnd()"
        >
            <div class="queue-element-dnd-handler enabled">
                <img ngSrc="assets/dnd-handler.svg" alt="D&D"
                     width="16" height="16"
                >
            </div>
            <div class="queue-element-body">
                <injection-status class="status" [status]="injection.model.status"></injection-status>
                <source-selector class="source-selector"
                                 [editable]="injection.editable"
                                 [source]="injection.model.dataSource">
                    <file-source
                        defaultName="Data"
                        [title]="injection.editable ? 'Drop your data file here or select it by click' : 'Click to download data file'"
                        allowedExtensions="json"
                        (uploadFile)="uploadDataFile(injection, $event)"
                        (notEditableClick)="downloadSource(injection.model.dataSource.id)"
                    ></file-source>
                    <url-source (sourceChange)="uploadDataSource(injection, $event)"></url-source>
                    <value-source (sourceChange)="uploadDataSource(injection, $event)"></value-source>
                    <base64-source (sourceChange)="uploadDataSource(injection, $event)"></base64-source>
                </source-selector>
                <source-selector class="source-selector"
                                 [editable]="injection.editable"
                                 [source]="injection.model.templateSource">
                    <file-source
                        defaultName="Template"
                        [title]="injection.editable ? 'Drop your template file here or select it by click' : 'Click to download template'"
                        allowedExtensions="docx"
                        (uploadFile)="uploadTemplateFile(injection, $event)"
                        (notEditableClick)="downloadSource(injection.model.templateSource.id)"
                    ></file-source>
                    <url-source (sourceChange)="uploadTemplateSource(injection, $event)"></url-source>
                    <base64-source (sourceChange)="uploadTemplateSource(injection, $event)"></base64-source>
                </source-selector>
                <dropdown *ngIf="injection.editable"
                          class="selector"
                          title="Output format"
                          [titleText]="injection.model.outputFormat"
                >
                    <div class="option-container"
                         *ngFor="let option of this.documentFormats"
                         (click)="changeOutputFormat(injection.model.id, option)"
                    >
                        <span class="option"
                              [title]="option"
                        >{{option}}</span>
                    </div>
                </dropdown>
                <action-series [actions]="injection.actions.list"></action-series>
            </div>
        </div>
    </div>
</div>
