@import 'src/styles.scss';

:host {
    .container {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        align-content: stretch;

        padding: 20px;
        gap: 20px;

        .data {
            display: inline-flex;
            background: $panel-color;
            flex-grow: 1;

            padding: 20px;

            .editor {
                display: inline;
                flex-grow: 1;

                background: none;
                border: none;

                padding: 1em;
                resize: none;
            }
        }

        .generate {
            background: $prim-color;

            position: absolute;

            height: 7em;
            width: 7em;

            border-radius: 50%;

            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

        }

        .template {
            display: inline-block;
            background: $panel-color;
            flex-grow: 1;
        }
    }
}
