<span class="icon-container"
      [hidden]="(action.displayed() | async) === false"
      [class.disabled]="action.disabled() | async"
      (click)="doAction()"
>
    <span *ngIf="action.faIcon"
          [ngClass]="action.faIcon"
          [title]="action.name"
          [style.color]="action.style?.color"
    ></span>
    <svg *ngIf="action.assetIcon"
         [title]="action.name"
         [style.color]="action.style?.color"
         viewBox="0 0 16 16" height="1em" xmlns="http://www.w3.org/2000/svg"
    >
        <use [attr.href]="action.assetIcon"></use>
    </svg>
</span>
